#used for local configuration
config/global_config.py

#project setup files
*.sublime-project
*.sublime-workspace


#node_modules are managed by npm, not us
node_modules/

#python bytecache files
*.pyc